@media (max-width:1000px){
  .pic{
    width: 49%;
  }
}


@media (max-width:800px){
  .article-footer{
    display: none;
  }
  .main-container{
    width: 90%;
  }
  .main {
    width: 99%;
  }
  .side{
    width: 99%;
  }
  .sideprofile{
    width: 10%;
  }
}

@media (max-width:700px){
  .col1 p{
    font-size: 3em;
  }
}


@media (max-width:630px){
  #header-logo{
    display: none;
  }

  .logo > ul {
    display: block;
    text-align: center;
    width: 100%;
    left: 0%;
    top:10%;
  }

  .logo > ul li img{
    height: 100px;
    text-align: center;
  }
  header nav{
    display:block;
    text-align: center;
    position: static;
  }
.header-title{
  top: 45%;
}


}

@media (max-width: 520px){
  .col1 p{
    font-size: 2em;
  }
}
@media (max-width:400px){
 .pic{
   width: 99%;
 }
 .col1 p{
   font-size: 1em;
   font-weight: bold;
 }
 .sidesection, .side-last{
   display: none;
 }
 #title{
   font-size: 30px;
 }
 .author img, .author a, .on{
   display: none;
 }

}
