
/*zero body margins and padding*/

body {
  margin:0;
  padding:0;
  font-family: Monaco, monospace, sans-serif;
}

header {
  background-image: url("images/meanderika.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow:hidden;
  width: 80%;
  margin: 0 auto;
  height: 300px;

  position: relative;
}

h1 {
  color: white;
  text-align: center;
  line-height: 0px;
  /*vertical-align: middle;*/
  /*line-height: 50%;*/
}

header ul {
  /*float:right;*/
  margin-left: 80%;

}
header li{
  vertical-align: top;
  color: white;
  margin-right: 10px;
}

.logo{
  display: inline-block;
  float:left;
}

.logo img{
  height:20px;
}
nav ul{
  display: inline-block;
  float:right;
}
/*setting hue of background*/
li img{
  height:15px;
}
header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(98,142,239, 0.5);
  }
.author{
/*  vertical-align: middle;*/
  font-size:8px;
}
.author a{
  text-decoration:none;
  color:blue;
}
.author img{
  height: 20px;
  border-radius:100%;
  vertical-align: middle;
  padding-left:5px;
}
.date {
  text-decoration: underline;
}

.wower{
  font-size: 20px;
  margin-left: 5px;
  border-left: 1px solid gray;
  color: blue;
  padding-left: 5%;
}
footer {
  background-color: black;
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
p{
  font-size: 12px;
  color:black;
}

.header-text{
  /*padding-top:25px;*/
  text-align: center;
}
.cols {
  display: inline-block;
  vertical-align: top;
}
.main {
  width: 66%;
  color: gray;
}
.side {
  width: 32%;
}

.sideprofile{
  width: 25%;
  border-radius:100%;

}

.sideinfo{
  width: 98%;
  margin: 0 auto;
  text-align:center;
  color: blue;
}

aside ul{
  margin:0 5px 10px 5px;
}
aside li {
  text-align: center;
  margin: 0 3px;
  font-size:10px;
  color: gray;
}

aside a{
  text-decoration: none;
  color: gray;
}

#ad{
  text-align:right;
  color: gray;
  font-size: 10px;
  text-decoration: underline;
  margin-top: 25px;
}

.sidesection{
  color: blue;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.main-container {
  width: 60%;
  margin: 20px auto;
}

.main li{
  font-size:10px;
  color: white;
  background-color: gray;
}

.main-container li img{
  height:12px;
  background-color: #9797EC;
  vertical-align: text-bottom;
}
.col1 {
  border-top: 1px solid gray;
  text-align:center;
  width: 100%;
  height: 100px;
}
.col1 p {
  color: black;
  font-size: 50px;
  line-height: 0px;
}
.pic {
  max-width: 24.2%;
  position: relative;
}

.pic img{
  max-width:100%;
  margin:0;
  padding:0;
}
.pic a{
  text-decoration: none;
}
.sidepic{
  width:100%;
}
.pic:before, .author img:before  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(98,142,239, 0.5);

  }
.pic span{
  position: absolute;
  z-index: 1;
  font-size: 30px;
  left: 10px;
  top: 200px;
  color:white;

}
  .pic:hover:before {
    background: none;
    color: black; /*doesn't work*/
  }

li{
  display: inline;
}

.title {
  font-size: 30px;
  color: black;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
}
