/* document wide changes */

body{
  margin:0;
  padding: 0;
  font-family: Monaco, monospace;
  box-sizing: border-box;
}

p{
  font-size: 12px;
  color:black;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
}

li{
  display: inline;
}
/* end document wide */

/* header  style begins */

header{
  width: 100%;
  background-image: url("images/meanderika.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow:hidden;
  min-height: 300px;
  position: relative;
}

header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(98,142,239, 0.5);

}

.content{
  padding: 5px;
}
.logo > ul {
  position: absolute;
  left: 13%;
  display: inline-block;
}
.logo > ul li img{
  height: 40px;
  /*position: absolute;*/
  /*top: 0px;
  left: 10px;*/
  vertical-align: middle;
}

header nav {
  display: inline-block;
 position: absolute;
  top: 4%;
  right: 15%;
  /*right: 15%;*/

}

.logo nav img{
  height: 15px;
}

.header-title{
  display: inline-block;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;

}

#title{
  font-size: 50px;
  color: white;
}

.header-title span:nth-child(3){
  font-size: 12px;
}

/* for the magnifying glass pic */
/*li img{
  height:15px;
}*/

/* end of header section ------------- */


/*Styling for main two column area */

.author{
  font-size:8px;
}
.author a{
  text-decoration:none;
  color:blue;
}
.author img{
  height: 20px;
  border-radius:100%;
  vertical-align: middle;
  padding-left:5px;
}
.date {
  text-decoration: underline;
}

.wower{
  font-size: 20px;
  margin-left: 5px;
  border-left: 1px solid gray;
  color: blue;
  padding-left: 5%;
}

.cols {
  display: inline-block;
  vertical-align: top;
}
.main {
  width: 66%;
  color: gray;
}
.side {
  width: 32%;
  margin-top: 1%;
}

.sideprofile{
  width: 25%;
  border-radius:100%;

}

.sideinfo{
  width: 98%;
  margin: 0 auto;
  text-align:center;
  color: blue;
}

aside ul{
  margin:0 5px 10px 5px;
}
aside li {
  text-align: center;
  margin: 0 3px;
  font-size:10px;
  color: gray;
}

aside a{
  text-decoration: none;
  color: gray;
}

#ad{
  text-align:right;
  color: gray;
  font-size: 10px;
  text-decoration: underline;
  margin-top: 25px;
}

.sidesection{
  color: blue;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.main-container {
  width: 60%;
  margin: 20px auto;
}

.main li{
  font-size:10px;
  color: white;
  background-color: gray;
}

.main-container li img{
  height:12px;
  background-color: #9797EC;
  vertical-align: text-bottom;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.main-container li:hover{
  background-color: blue;
}

.main-container li img:hover{
  background-color: yellow;
}

.sidepic{
  width:100%;
}

.title {
  font-size: 30px;
  color: black;
}

/* end 2 column  main */


/* start 1 column More Posts */

.col1 {
  border-top: 1px solid gray;
  text-align:center;
  width: 100%;
  height: 100px;
}
.col1 p {
  color: black;
  font-size: 4em;
  line-height: 0px;
}

/*.cols {
  display: inline-block;
  vertical-align: top;    ---- this is located elsewhere as well see main container */

/* start Footer */


/* 4 pic section ----------------  */

.pic {
  width: 25%;
  position: relative;
  margin-right: -.75%;
  margin-bottom: -0.25%;
}

.pic img{
  width:100%;

  padding:0;

}
.pic a{
  text-decoration: none;
}

.pic:before, .author img:before  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(98,142,239, 0.5);

  }
.pic span{
  position: absolute;
  z-index: 1;
  font-size: 30px;
  left: 5%;
  top: 75%;
  color:white;

}
  .pic:hover:before {
    background: none;
    color: black; /*doesn't work*/
  }


/*.cols {
  display: inline-block;
  vertical-align: top;   ---------- already in elsewhere */

/*  end 4 pic section -------------- */


footer {
  background-color: black;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-size: 10px;
  opacity: 0.5;
}
footer nav a{
  text-decoration: none;
}
footer span{
  position: absolute;
  top: 30%;
  left: 10%;
  text-decoration: none;
  color: yellow;
}

footer img{
  height: 25px;
  position: absolute;
  top: 18%;
  left: 6%;

}
footer ul{
  position: absolute;
  top: 30%;
  left: 60%;
}
footer li{
  text-decoration: none;
  color:yellow;
  padding-right: 2px;
  border-right: 1px solid yellow;
}

footer li:nth-child(4) {
  border-right: none;
}

/* end footer formatting */
